body{
    background :#000000 url('bd1.jpg');
    background-size: cover;
    overflow: hidden;
    width: 95vw;
    height: 100vh;
  }
  
  div {
      width: auto;
      height: auto;
      border: 2px solid rgb(255, 255, 255);
      background-color: rgba(167, 193, 223, 0.479);
      border-radius: 10px;
      padding-left: 5%;
      padding-top: 20px;
      padding-right: 35px;
      padding-bottom: 50px;
      margin-top: auto;
      margin-left: 5%;
      
    }
   
    h2 {
        margin-top: auto;
        margin-left: 32%;
        background: rgba(99, 2, 55, 0.336);
        font-family: courier;
        color: rgb(255, 255, 255);
        width: 350px;
        height: auto;
        font-size: 30px;
        text-align: center;
        }

input[type=submit] {
    background-color: rgb(56, 47, 45);
    font-size: 15px;
    color:  rgb(209, 221, 230);
    text-align: center;
    width: 100px;
} 
input[type=submit]:hover{
    background-color: rgb(209, 221, 230);
    color:  rgb(56, 47, 45);
  }
